body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-color: #efedea;
}

.login-page {
  height: 93vh;
}

.login-page .row {
  margin-left: 0vw;
  width: 96.85vw;
}

.login-form {
  width: 50vw;
  height: 50vh;
  margin-left: 25vw;
  margin-top: 20vh;
  border: 1px solid black;
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login-form form {
  padding-right: 25%;
  padding-left: 25%;
}

.login-form form input[type=submit] {
  border: none;
  color: white;
  background-color: blue;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10vw;
  cursor: pointer;
}

.form-user {
  margin-top: 3vh;
}

.form-password {
  margin-top: 3vh;
}

.form-user label {
  display: block;
  margin-bottom: 2vh;
}

.form-user input {
  display: block;
  height: 40px;
  width: 300px;
  font-size: 20px;
}

.form-password label {
  display: block;
  margin-bottom: 2vh;
}

.form-password input {
  display: block;
  height: 40px;
  width: 300px;
  font-size: 20px;
  margin-bottom: 2vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  margin-top: -16px;
}

.text-center {
  display: block;
  text-align: center;
}

.text-left {
  display: block;
  text-align: left;
}

.savings-link {
  width: 19vw;
}

.savings-link h3 {
  width: 100%;
  display: block;
}

.savings-link a {
  display: block;
  width: 11vw;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #186cc0;
}

.savings-link a:hover {
  background-color: white;
  border: 1px solid #186cc0;
  color: #186cc0;
}

.row {
  display: -ms-grid;
  display: grid;
  padding: 30px;
  margin-left: 15vw;
  width: 68vw;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.row .card-.g-1 {
  grid-column: span 1;
}

.row .card-.g-2 {
  grid-column: span 2;
}

.row .card-.g-3 {
  grid-column: span 3;
}

.row .card-.g-4 {
  grid-column: span 4;
}

.row .card-.g-5 {
  grid-column: span 5;
}

.row .card-.g-6 {
  grid-column: span 6;
}

.row .card-.g-7 {
  grid-column: span 7;
}

.row .card-.g-8 {
  grid-column: span 8;
}

.row .card-.g-9 {
  grid-column: span 9;
}

.row .card-.g-10 {
  grid-column: span 10;
}

.row .card-.g-11 {
  grid-column: span 11;
}

.row .card-.g-12 {
  grid-column: span 12;
}
