.form-user{
    margin-top: 3vh;
}
.form-password{
margin-top: 3vh;
}
.form-user label{
display: block;
margin-bottom: 2vh;
}
.form-user input{
display: block;
height: 40px;
width: 300px;
font-size: 20px;
}
.form-password label{
display: block;
margin-bottom: 2vh;
}
.form-password input{
display: block;
height: 40px;
width: 300px;
font-size: 20px;
margin-bottom: 2vh;
}
