.BusinessBanking {
  border-right: 2px solid black;
}

.personnelBanking {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.top-nav {
  height: 60px;
  padding: 10px;
  background-color: #2b2bad;
  text-align: center;
}

.top-nav ul {
  margin: 0px;
  height: 60px;
}

.top-nav ul li {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.top-nav ul li a {
  height: 100%;
  padding: 10px;
  padding-bottom: 0px;
  line-height: 2.5;
  font-size: 20px;
  color: white;
}

.top-nav ul li a:hover {
  background-color: #186cc0;
}
